**/dist
**/build
*.spec
**/__pycache__
/.vscode
**/log
README.md
LICENSE
.gitignore
.dockerignore
.git
.github
.vscode
*.psd
config/**/*
config
Dockerfile
venv
.idea
.venv*
test.py
!config/config.yml.sample
.flake8
qbit_manage.egg-info/
.tox
*.env
__pycache__
*.pyc
*.pyo
*.pyd
.env
