[flake8]
extend-ignore =
  # E722	Do not use bare except, specify exception instead
  E722,
  # E402  module level import not at top of file
  E402,
  # E501  line too long
  E501,
max-line-length = 130
exclude = .git,__pycache__,build,dist
