# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.log*
*.yml
.vscode/*
!.github/**
*.svg
.venv*
qbit_manage.egg-info/
.tox
*.env
**/build
dist/
.roo*
memory-bank
**/src-tauri/gen
**/src-tauri/target
