---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-json
      - id: check-yaml
      - id: debug-statements
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: fix-byte-order-marker
      - id: fix-encoding-pragma
        args: [--remove]
      - id: pretty-format-json
        args: [--autofix, --indent, '4', --no-sort-keys]
  - repo: https://github.com/hhatto/autopep8
    rev: v2.3.1
    hooks:
      - id: autopep8
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1  # or higher tag
    hooks:
      - id: yamllint
        args: [--format, parsable, --strict]
        exclude: ^.github/
  - repo: https://github.com/lyz-code/yamlfix
    rev: 1.16.0
    hooks:
      - id: yamlfix
        exclude: ^.github/
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort (python)
        args: [--force-single-line-imports, --profile, black]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.17.0
    hooks:
      - id: pyupgrade
        args: [--py3-plus]
  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black
        language_version: python3
        args: [--line-length, '130']
  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.0
    hooks:
      - id: flake8
        args: [--config=.flake8]
  - repo: local
    hooks:
      - id: increase-version
        name: Increase version if branch contains "develop"
        entry: ./scripts/pre-commit/increase_version.sh
        language: script
        pass_filenames: false
        stages: [commit]
  - repo: local
    hooks:
      - id: update-readme-version
        name: Update readme version
        entry: ./scripts/pre-commit/update-readme-version.sh
        language: script
        pass_filenames: false
        stages: [commit]
