---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: ^desktop/tauri/src-tauri/tauri\.conf\.json$
      - id: check-merge-conflict
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=600]
      - id: fix-byte-order-marker
      - id: pretty-format-json
        args: [--autofix, --indent, '4', --no-sort-keys]
        exclude: ^desktop/tauri/src-tauri/tauri\.conf\.json$
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1  # or higher tag
    hooks:
      - id: yamllint
        args: [--format, parsable, --strict]
        exclude: ^.github/
  - repo: https://github.com/lyz-code/yamlfix
    rev: 1.19.0
    hooks:
      - id: yamlfix
        exclude: ^.github/
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.5
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: increase-version
        name: Increase version if branch contains "develop"
        entry: ./scripts/pre-commit/increase_version.sh
        language: script
        pass_filenames: false
        stages: [pre-commit]
