---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-json
      - id: check-yaml
      - id: debug-statements
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-byte-order-marker
      - id: fix-encoding-pragma
        args: [--remove]
      - id: pretty-format-json
        args: [--autofix, --indent, '4', --no-sort-keys]
  - repo: https://github.com/hhatto/autopep8
    rev: v2.0.4
    hooks:
      - id: autopep8
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.32.0  # or higher tag
    hooks:
      - id: yamllint
        args: [--format, parsable, --strict]
        exclude: ^.github/
  - repo: https://github.com/lyz-code/yamlfix
    rev: 1.13.0
    hooks:
      - id: yamlfix
        exclude: ^.github/
  - repo: https://github.com/asottile/reorder-python-imports
    rev: v3.11.0
    hooks:
      - id: reorder-python-imports
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.11.0
    hooks:
      - id: pyupgrade
        args: [--py3-plus]
  - repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
      - id: black
        language_version: python3
        args: [--line-length, '130', --preview]
  - repo: https://github.com/PyCQA/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        args: [--config=.flake8]
  - repo: local
    hooks:
      - id: increase-version
        name: Increase version if branch contains "develop"
        entry: ./scripts/pre-commit/increase_version.sh
        language: script
        pass_filenames: false
        stages: [commit]
